{% load static %}

<div class="single-item d-none d-lg-block messages-area">
    <div class="messages-btn cmn-head">
        <div class="icon-area d-center position-relative">
            <i class="material-symbols-outlined mat-icon">mail</i>
            <span class="abs-area position-absolute d-center mdtxt">4</span>
        </div>
    </div>
    <div class="main-area p-5 messages-content">
        <h5 class="mb-8">Messages</h5>
        <div class="single-box p-0 mb-7">
            <a href="profile-chat.html" class="d-flex gap-2 align-items-center">
                <div class="avatar">
                    <img class="avatar-img max-un" src="{% static 'assets/images/avatar-7.png' %}" alt="avatar">
                </div>
                <div class="text-area">
                    <div class="title-area position-relative d-inline-flex align-items-center">
                        <h6 class="m-0 d-inline-flex">Piter Maio</h6>
                        <span class="abs-area position-absolute d-center mdtxt">3</span>
                    </div>
                    <p class="mdtxt sms">Amet minim mollit non....</p>
                </div>
            </a>
        </div>
        
        <div class="btn-area">
            <a href="profile-chat.html">See all inbox</a>
        </div>
    </div>
</div>